@font-face {font-family: "bfs";
  src: url('bfs.eot?t=1677130501337'); /* IE9*/
  src: url('bfs.eot?t=1677130501337#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("bfs.woff2?t=1677130501337") format("woff2"),
  url("bfs.woff?t=1677130501337") format("woff"),
  url('bfs.ttf?t=1677130501337') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('bfs.svg?t=1677130501337#bfs') format('svg'); /* iOS 4.1- */
}

[class^="bfs-"], [class*=" bfs-"] {
  font-family: 'bfs' !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bfs-arrow-left:before { content: "\ea01"; }
.bfs-checkmark:before { content: "\ea02"; }
.bfs-chef-hat:before { content: "\ea03"; }
.bfs-circle-plus:before { content: "\ea04"; }
.bfs-eye:before { content: "\ea05"; }
.bfs-first-aid:before { content: "\ea06"; }
.bfs-flag-alt:before { content: "\ea07"; }
.bfs-harddrive:before { content: "\ea08"; }
.bfs-instagram-fill:before { content: "\ea09"; }
.bfs-investment:before { content: "\ea0a"; }
.bfs-joomla-original:before { content: "\ea0b"; }
.bfs-magento:before { content: "\ea0c"; }
.bfs-map:before { content: "\ea0d"; }
.bfs-paypal:before { content: "\ea0e"; }
.bfs-revenue:before { content: "\ea0f"; }
.bfs-save:before { content: "\ea10"; }
.bfs-spellcheck:before { content: "\ea11"; }
.bfs-spinner-arrow:before { content: "\ea12"; }
.bfs-tounge:before { content: "\ea13"; }
.bfs-toyota:before { content: "\ea14"; }
.bfs-vmware:before { content: "\ea15"; }
.bfs-volume-low:before { content: "\ea16"; }
.bfs-wordpress-fill:before { content: "\ea17"; }
.bfs-zoom:before { content: "\ea18"; }
